docker/database/data
coverage
.idea
node_modules

# Application config
config/local*

# Strategies
/src/strategies/
!/src/strategies/localMovingAverageStrategy.ts
!/src/strategies/movingAverageStrategy.ts
build
