{
    "branches": [
        "master"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "ESLint",
                "releaseRules": [
                    {
                        tag: 'Breaking',
                        release: 'major'
                    },
                    {
                        tag: 'Update',
                        release: 'minor'
                    },
                    {
                        tag: 'New',
                        release: 'minor'
                    },
                    {
                        tag: 'Upgrade',
                        release: 'minor'
                    },
                    {
                        tag: 'Docs',
                        release: 'patch'
                    },
                    {
                        tag: 'Build',
                        release: 'patch'
                    },
                    {
                        tag: 'Chore',
                        release: 'patch'
                    },
                    {
                        tag: 'Fix',
                        release: 'patch'
                    },
                ],
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "ESLint"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "publishCmd": "nx run-many --target=release --all --args=\"--version=${nextRelease.version}\""
            }
        ],
        "@semantic-release/github",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "dist/my-compiled-lib/package.json"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}
