{
    "branches": [
        "master"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "ESLint",
                "releaseRules": [
                    {tag: 'Breaking', release: 'major'},

                    {tag: 'Update', release: 'minor'},
                    {tag: 'New', release: 'minor'},
                    {tag: 'Upgrade', release: 'minor'},

                    {tag: 'Docs', release: 'patch'},
                    {tag: 'Build', release: 'patch'},
                    {tag: 'Chore', release: 'patch'},
                    {tag: 'Fix', release: 'patch'},
                ],
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "ESLint"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "publishCmd": "nx run-many --target=release --all --args=\"--version=${nextRelease.version}\""
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        path: 'dist/packages/cli/**/*',
                        label: 'SockTrader CLI package'
                    },
                    {
                        path: 'dist/packages/core/**/*',
                        label: 'SockTrader Core package'
                    },
                    {
                        path: 'dist/packages/indicators/**/*',
                        label: 'SockTrader Indicators package'
                    },
                    {
                        path: 'dist/packages/web/**/*',
                        label: 'SockTrader Web package'
                    }
                ]
            }
        ]
    ]
}
