import OrderLogger from "./sockTrader/core/plugins/logging/orderLogger";
import SpreadLogger from "./sockTrader/core/plugins/logging/spreadLogger";
import WalletLogger from "./sockTrader/core/plugins/logging/walletLogger";
import TradeProfitCalculator from "./sockTrader/core/plugins/tradeProfitCalculator";

export default {
    timezone: "Europe/Brussels",

    webServer: {
        port: 3000,
    },

    assets: {
        USD: 10000,
    },

    exchanges: {
        hitbtc: {
            publicKey: "REPLACE_WITH_MY_PUBLIC_KEY",
            secretKey: "REPLACE_WITH_MY_SECRET_KEY",
        },
    },

    plugins: [
        new TradeProfitCalculator(),
        new WalletLogger(),
        new OrderLogger(),
        new SpreadLogger(),
    ],
};
