// import OrderLogger from "./sockTrader/core/plugins/logging/orderLogger";
// import SpreadLogger from "./sockTrader/core/plugins/logging/spreadLogger";
// import AssetValueLogger from "./sockTrader/core/plugins/logging/assetValueLogger";
// import ProfitCalculator from "./sockTrader/core/plugins/order/profitCalculator";

export default {
    timezone: "Europe/Brussels",

    webServer: {
        port: 3000,
    },

    assets: {
        USD: 10000,
    },

    exchanges: {
        hitbtc: {
            publicKey: "REPLACE_WITH_MY_PUBLIC_KEY",
            secretKey: "REPLACE_WITH_MY_SECRET_KEY",
        },
    },

    plugins: [/*
        new ProfitCalculator(),
        new AssetValueLogger({ toAsset: "USD" }),
        new OrderLogger(),
        new SpreadLogger(),
    */],
};
