export default {
    timezone: "Europe/Brussels",

    webServer: {
        port: 3000,
    },

    assets: {
        USD: 10000,
    },

    exchanges: {
        hitbtc: {
            publicKey: "REPLACE_WITH_MY_PUBLIC_KEY",
            secretKey: "REPLACE_WITH_MY_SECRET_KEY",
        },
    },
};
