#!/usr/bin/env node
import "source-map-support/register";
import HitBTC, {CandleInterval} from "./core/exchanges/hitBTC";
import SockTrader from "./core/sockTrader";
import config from "./config";

// Import custom strategy
import MyFancyStrategy from "./strategies/myFancyStrategy";

// Initialize SockTrader
const sockTrader = new SockTrader();
const hitBTC = HitBTC.getInstance(config.HitBTC.publicKey, config.HitBTC.secretKey);

// Add exchange
sockTrader.addExchange(hitBTC);

// Add strategy
sockTrader.addStrategy({
    strategy: MyFancyStrategy,
    pair: "BTCETH",
    interval: CandleInterval.FIVE_MINUTES,
    exchange: hitBTC,
});

// Uncomment if you want to start the bot using the command line.
// sockTrader.start();
// Otherwise start SockTraderDashboard..
